<%- include('partials/header') -%>
  <main class="options-container">
    <h1>How would you like to join RFI?</h1>

    <div class="option-grid">
      <% options.forEach(opt => { %>
        <a href="<%= opt.href %>" class="option-btn">
          <i class="fas <%= opt.icon %>"></i>
          <span><%= opt.label %></span>
        </a>
      <% }) %>
    </div>
  </main>

  <%- include('partials/footer') %>
</body>
</html>
